body{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: darkgreen;
}
.container{
    width: 70%;
    padding: 1em;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 5% 5%;
}
#cabecera{
    background-color: black;
    color: wheat;
}